html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 60px;
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    padding: 15px 0;
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}